@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Deneme Adres<br />
   Kadıköy,34900<br />
    <abbr title="Phone">P:</abbr>
    0216 252 22 22
</address>

<address>
    <strong>Destek:</strong> <a href="mailto:Support@example.com">destek@deneme.com</a><br />
    <strong>Pazarlama:</strong> <a href="mailto:Marketing@example.com">pazarlama@deneme.com</a>
</address>
